<!DOCTYPE html>

<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>A Quote Machine by Jeff</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  
</head>

<body>
  <div class="container-fluid text-center">
    <div class="well">
      <h1 class="page-title">
        <b>A Quote for Every Occassion!</b>
      </h1>
      <div class="quote">Click for an AFI Top 100 movie quote!</div>
      <div class="movie">- </div>
      <button type="button" onclick="formatMovieData()" title="Get a new quote" id="get-quote" class="btn btn-basic">Get a quote!</button>
      <br>
      <a id="tweet-link" target="_blank" href="">
        <button type="submit" title="Tweet this quote" id="tweet-quote" class="btn btn-basic" disabled>
          <i class="fab fa-twitter"></i>
        </button>
      </a>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
    $("#tweet-quote").attr("disabled", true);
    $("body").css("visibility", "visible");
    $("body").hide();
    $("body").fadeIn(1000);
  });
  </script>
  <script>
    var quotes = {{ quotes|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='quotes.js') }}"></script>
</body>

</html>
